
@if (isLoginPage()) {
  <router-outlet></router-outlet>
} @else {
  <div class="bg-background-primary text-text-primary min-h-screen">
    <app-top-nav></app-top-nav>
    <div class="max-w-[1400px] mx-auto grid grid-cols-1 lg:grid-cols-[260px_minmax(0,_1fr)_320px] gap-8 px-4 relative">
      <app-left-sidebar class="hidden lg:block sticky top-[64px] h-[calc(100vh-64px)]"></app-left-sidebar>
      <main class="py-6 w-full max-w-[680px] mx-auto lg:mx-0">
        <router-outlet></router-outlet>
      </main>
      <app-right-sidebar class="hidden lg:block sticky top-[64px] h-[calc(100vh-64px)] py-6"></app-right-sidebar>
    </div>
    <app-mobile-nav class="lg:hidden"></app-mobile-nav>
  </div>
  <app-story-viewer></app-story-viewer>
}
